<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>顶部应用</title>
    <!--<script src="https://unpkg.com/vue"></script>-->
    <!--<script src="https://unpkg.com/http-vue-loader"></script>-->
    <!--&lt;!&ndash; 引入样式 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!--&lt;!&ndash; 引入组件库 &ndash;&gt;-->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

    <script src="resources/js/vue.js"></script>
    <script src="resources/js/httpVueLoader.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div id="app">
    <dis_header></dis_header>
</div>
<script type="text/javascript">
    new Vue({
        el:'#app',
        components:{
            'dis_header':httpVueLoader('resources/components/header.vue')
        }
    })

</script>
</body>
</html>