<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: #f0f0f0;
            padding: 10px;
        }
        #nav{
            color: #0c0c0c;
            margin-top: 20px;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<!--上方导航-->
<div id="nav">我的消息</div>
<!--消息组件-->
<div id="app">
    <Tab></Tab>
    <!--<Msgtip></Msgtip>-->
    <Sendmsg></Sendmsg>
</div>
<script type="text/javascript">
    new Vue({
            el:'#app',
            components: {
                'Tab'       : httpVueLoader('/resources/components/Tab.vue'),
                // 'Msgtip'    : httpVueLoader('/resources/components/Msgtip.vue'),
                'Sendmsg'   : httpVueLoader('/resources/components/SendMsg.vue'),
            }
        }
    )
</script>
</body>
</html>