<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试Vue组件的引用</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <basic-information></basic-information>
    <track-record></track-record>
</div>
<script type="text/javascript">
    new Vue({
            el:'#app',
            components: {
                'basic-information': httpVueLoader('resources/components/basic-information.vue'),
                 'track-record': httpVueLoader('resources/components/track-record.vue'),
            }
        }
    )
</script>
</body>
</html>