<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试Vue组件的引用</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="resources/js/echarts.min.js" type="text/javascript"></script>

</head>
<body>
<div id="app">
    <!--<user-Tables></user-Tables>-->
    <!--<worktor-tables></worktor-tables>-->
    <my-chart></my-chart>
</div>
<script type="text/javascript">
    new Vue({
            el:'#app',
            components: {
                'user-tables': httpVueLoader('resources/components/userTable.vue'),
                'worktor-tables': httpVueLoader('resources/components/WorkorTable.vue'),
                'my-chart': httpVueLoader('resources/components/MyChart.vue'),

            }
        }
    )
</script>
</body>
</html>
