<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.LogMapper">

    <!--添加日志-->
    <insert id="getInsertLog">
        insert into T_LOG
        (log_id,log_type,log_error_code,log_content,user_id,log_date)
        values
        (<include refid="logValues"/>)
    </insert>

    <!--查询所有日志-->
    <select id="getSelectLog" resultMap="logResultMap">
         select t.log_id,t.log_type,log_error_code,t.log_content,t.user_id,t.log_date,u.user_name
         from T_LOG t,s_user u where u.user_id=t.user_id
    </select>

    <!--根据条件查找日志-->
    <select id="getSelectClassify" resultMap="logResultMap">
        select t.log_id,t.log_type,log_error_code,t.log_content,t.user_id,t.log_date,u.user_name
        from T_LOG t,s_user u where u.user_id=t.user_id
        <where>
        <if test="log!=null ">
            <if test="logType!=null and logType!=''">
                and log_type=#{logType}
            </if>
            <if test="userId!=null and userId!=''">
                and user_id = #{userId}
            </if>
            <if test="userName!=null and userName!=''">
                and user_name like concat('%',#{userName},'%')
            </if>
        </if>
        <if test="startTime=null and startTime!=''">
            AND log_date &gt;= '${startTime}'
        </if>
        <if test="endTime!=null and endTime!=''">
            AND log_date &lt;= '${endTime}'
        </if>
        </where>
    </select>




    <resultMap type="Log" id="logResultMap" autoMapping="true">
    </resultMap>


    <sql id="logValues">#{logId},#{logType},#{logErrorCode},#{logContent},#{userId},#{logDate}
    </sql>
</mapper>