<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.crm.mapper.ResumeAllotMapper">

    <!--load  data  local infile 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/test.csv'-->
    <!--into table t_user fields terminated by','-->
    <!--lines terminated by'\n'(user_id,user_name,password);-->
    <!--9,10,11,13,22,35,39,41,43,52-->
 <!--   "姓名","性别","手机","出生日期","家庭地址","职能/职位","自我评价","工作经验","项目经验","培训经历"-->
    <!-- 将csv文件数据导入到考勤数据表 -->
    <select id="ImportResume">
load data infile #{src}
into table t_student
fields terminated by '|'
lines terminated by '\r\n'(stu_name,stu_sex,stu_birth,stu_phone_num,stu_address,stu_wanted_position,stu_evaluation,stu_work,stu_project,stu_trained,stu_channel,stu_source);
  </select>

</mapper>