<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.StuMapper">
    <!--添加简历数据-->
    <insert id="insertStuResume">
        insert into t_student
        (stu_name,stu_number,stu_sex,stu_importance,stu_phone_num,stu_qq,stu_level,stu_address,stu_source,stu_evaluation,stu_work,stu_project,stu_education,stu_trained,stu_credentials,stu_performance)
        values
        (#{stuName},#{stuNumber},#{stuSex},#{stuImportance},#{stuPhoneNum},#{stuQq},#{stuLevel},#{stuAddress},#{stuSource},#{stuEvaluation},#{stuWork},#{stuProject},#{stuEducation},#{stuTrained},#{stuCredentials},#{stuPerformance})
    </insert>

    <!--通过学生编号查询学生信息-->
    <select id="getStuInfoByStuNumber" resultMap="stuResultMap">
        select
        <include refid="stuColumns"/>
        from
        t_student
        where
        stu_number = #{stuNumber}
    </select>

    <!--修改学生信息-->
    <update id="updateStuInfo">
        update t_student
        <set>
            <if test="null!=stuLevel and stuLevel!=''">
                stu_level = #{stuLevel},
            </if>
        </set>
        where stu_number = #{stuNumber}
    </update>

    <resultMap id="stuResultMap" type="student" autoMapping="true">
    </resultMap>

    <sql id="stuColumns">stu_name,stu_number,stu_sex,stu_importance,stu_phone_num,stu_qq,stu_level,stu_address,stu_source,stu_evaluation,stu_work,stu_project,stu_education,stu_trained,stu_credentials,stu_performance
    </sql>
    <sql id="stuValues">#{stuName},#{stuNumber},#{stuSex},#{stuImportance},#{stuPhoneNum},#{stuQq},#{stuLevel},#{stuAddress},#{stuSource},#{stuEvaluation},#{stuWork},#{stuProject},#{stuEducation},#{stuTrained},#{stuCredentials},#{stuPerformance}</sql>


</mapper>