<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.StuMapper">
    <!--添加简历数据-->
    <insert id="insertStuResume">
        insert into t_student
        (<include refid="stuColumns"/>)
        values
        (<include refid="stuValues"/>)
    </insert>

    <!--通过学生编号查询学生信息-->
    <select id="getStuInfoByStuNumber" resultMap="stuResultMap">
        select
        <include refid="stuColumns"/>,
        a.consult_id,
        a.teacher_id
        from
        t_student a
        where stu_number = #{stuNumber}
    </select>

    <!--修改学生信息-->
    <update id="updateStuInfo">
        update t_student
        <set>
            <if test="null!=stuLevel and stuLevel!=''">
                stu_level = #{stuLevel},
            </if>
            <if test="null!=stuName and stuName!=''">
                stu_name = #{stuName},
            </if>
            <if test="null!=stuSex and stuSex!=''">
                stu_sex = #{stuSex},
            </if>
            <if test="null!=stuImportance and stuImportance!=''">
                stu_importance = #{stuImportance},
            </if>
            <if test="null!=stuPhoneNum and stuPhoneNum!=''">
                stu_phone_num = #{stuPhoneNum},
            </if>
            <if test="null!=stuQq and stuQq!=''">
                stu_qq = #{stuQq},
            </if>
            <if test="null!=stuAddress and stuAddress!=''">
                stu_address = #{stuAddress},
            </if>
            <if test="null!=stuChannel and stuChannel!=''">
                stu_channel = #{stuChannel},
            </if>
            <if test="null!=stuSource and stuSource!=''">
                stu_source = #{stuSource},
            </if>
            <if test="null!=stuEvaluation and stuEvaluation!=''">
                stu_evaluation = #{stuEvaluation},
            </if>
            <if test="null!=stuWork and stuWork!=''">
                stu_work = #{stuWork},
            </if>
            <if test="null!=stuProject and stuProject!=''">
                stu_project = #{stuProject},
            </if>
            <if test="null!=stuEducation and stuEducation!=''">
                stu_education = #{stuEducation},
            </if>
            <if test="null!=stuTrained and stuTrained!=''">
                stu_trained = #{stuTrained},
            </if>
            <if test="null!=stuCredentials and stuCredentials!=''">
                stu_credentials = #{stuCredentials},
            </if>
            <if test="null!=stuPerformance and stuPerformance!=''">
                stu_performance = #{stuPerformance}
            </if>
        </set>
        where stu_number = #{stuNumber}
    </update>

    <resultMap id="stuResultMap" type="student" autoMapping="true">
        <association property="consultId" column="consult_id" select="com.ss.crm.mapper.UserMapper.getUserNameByUserId">
        </association>
        <association property="teacherId" column="teacher_id" select="com.ss.crm.mapper.UserMapper.getUserNameByUserId">
        </association>
    </resultMap>

    <sql id="stuColumns">stu_name,stu_number,stu_sex,stu_importance,stu_phone_num,stu_qq,stu_level,stu_address,stu_channel,stu_source,stu_evaluation,stu_work,stu_project,stu_education,stu_trained,stu_credentials,stu_performance,consult_id,teacher_id
    </sql>
    <sql id="stuValues">#{stuName},#{stuNumber},#{stuSex},#{stuImportance},#{stuPhoneNum},#{stuQq},#{stuLevel},#{stuAddress},#{stuChannel},#{stuSource},#{stuEvaluation},#{stuWork},#{stuProject},#{stuEducation},#{stuTrained},#{stuCredentials},#{stuPerformance},#{consultId.userId},#{teacherId.userId}
    </sql>


</mapper>