<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.TrackMapper">
    <!--查询跟踪信息-->
    <select id="getTrackInfo" resultMap="trackResultMap">
        select DISTINCT
        a.track_ways,a.track_priority,a.track_time,a.track_status,a.track_next_time,a.track_duration,a.track_predict_time,a.track_turnover_time,a.track_importance,a.track_valid,a.track_details,
		a.stu_number
        from t_track a,t_student b,s_user e,s_user d
		where a.stu_number = b.stu_number
		and a.stu_number = #{stuNumber}
		order by a.track_priority DESC
    </select>
    <!--添加跟踪信息-->
    <insert id="insertTrackRecord">
        insert into t_track
        (<include refid="trackColumns"/>)
        values
        (<include refid="trackValues"/>)
    </insert>

    <resultMap id="trackResultMap" type="track" autoMapping="true">
        <association property="stuNumber" column="stu_number" select="com.ss.crm.mapper.StuMapper.getStuInfoByStuNumber">
        </association>
    </resultMap>

    <sql id="trackColumns">track_ways,track_priority,track_time,track_status,track_next_time,track_duration,track_predict_time,track_turnover_time,track_importance,track_valid,track_details,stu_number
    </sql>
    <sql id="trackValues">#{trackWays},#{trackPriority},#{trackTime},#{trackStatus},#{trackNextTime},#{trackDuration},#{trackPredictTime},#{trackTurnoverTime},#{trackImportance},#{trackValid},#{trackDetails},#{stuNumber.stuNumber}
    </sql>
</mapper>