<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.TrackMapper">
    <!--查询跟踪信息-->
    <select id="getTrackInfo" resultMap="trackResultMap">
        select
        a.track_ways,a.track_time,a.track_status,a.track_next_time,a.track_duration,a.track_turnover_time,a.track_importance,a.track_valid,a.track_details,
		a.consult_id,a.stu_number,a.teacher_id
        from t_track a,t_student b,s_user e,s_user d
		where a.stu_number = b.stu_number
		and a.teacher_id = d.user_id
		and a.consult_id = e.user_id
		and a.stu_number = #{stuNumber}
    </select>
    <!--添加跟踪信息-->
    <insert id="insertTrackRecord">
        insert into t_track
        (track_ways,track_time,track_status,track_next_time,track_duration,track_turnover_time,track_importance,track_valid,track_details,consult_id,stu_number,teacher_id)
        values
        (<include refid="trackValues"/>)
    </insert>

    <resultMap id="trackResultMap" type="track" autoMapping="true">
        <association property="consultId" column="consult_id" select="com.ss.crm.mapper.UserMapper.getUserNameByUserId">
        </association>
        <association property="stuNumber" column="stu_number" select="com.ss.crm.mapper.StuMapper.getStuInfoByStuNumber">
        </association>
        <association property="teacherId" column="teacher_id" select="com.ss.crm.mapper.UserMapper.getUserNameByUserId">
        </association>
    </resultMap>

    <sql id="trackColumns">track_ways,track_time,track_status,track_next_time,track_duration,track_turnover_time,track_importance,track_valid,track_details,consult_id,stu_number,teacher_id
    </sql>
    <sql id="trackValues">#{trackWays},#{trackTime},#{trackStatus},#{trackNextTime},#{trackDuration},#{trackTurnoverTime},#{trackImportance},#{trackValid},#{trackDetails},#{consultId.userId},#{stuNumber.stuNumber},#{teacherId.userId}
    </sql>
</mapper>