<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.crm.mapper.TrackModelMapper">


    <!--查询跟踪信息-->
    <select id="getTrackModel" resultMap="trackResultMap">
        select
        <include refid="trackColumns"/>
        from t_track t,t_student s,s_user u
        where t.stu_number = s.stu_number
        and s.consult_id = u.user_id
        <trim prefix="and" suffixOverrides="and">
            <if test="stuName != '' and stuName != null">  <!--学生性名-->
                s.stu_name like concat('%',#{stuName},'%') and
            </if>
            <if test="userName != '' and userName != null">  <!--咨询师姓名-->
                u.user_name concat('%',#{userName},'%') and
            </if>
            <if test="trackWays != '' and trackWays != null">  <!--跟踪方式-->
                t.track_ways like concat('%',#{trackWays},'%') and
            </if>
        </trim>
        LIMIT #{start},#{end}
    </select>

    <!--查询条数-->
    <select id="getTotal" resultType="java.lang.Integer">
        select count(s.stu_number)
        from t_track t,t_student s,s_user u
        where t.stu_number = s.stu_number
        and s.consult_id = u.user_id
        <trim prefix="and" suffixOverrides="and">
            <if test="stuName != '' and stuName != null">  <!--学生性名-->
                s.stu_name like concat('%',#{stuName},'%') and
            </if>
            <if test="userName != '' and userName != null">  <!--咨询师姓名-->
                u.user_name concat('%',#{userName},'%') and
            </if>
            <if test="trackWays != '' and trackWays != null">  <!--跟踪方式-->
                t.track_ways like concat('%',#{trackWays},'%') and
            </if>
        </trim>
    </select>

    <resultMap id="trackResultMap" type="trackModel" autoMapping="true">
    </resultMap>

    <sql id="trackColumns">
      t.track_ways,t.track_time,t.track_status,t.track_next_time,t.track_predict_time,t.update_time,
      s.stu_number,s.stu_name,s.stu_status,s.stu_source,s.stu_level,s.stu_phone_num,u.user_name
    </sql>


</mapper>